@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@font-face {
  font-family: 'MADE_Gentle';
  src: url('MadeGentle.otf') format('opentype');

  font-style: normal;
}
@font-face {
  font-family: 'moreSugar';
  src: url('MoreSugar-Thin.otf') format('opentype');

  font-style: normal;
}
@font-face {
  font-family: 'Proxima';
  src: url('Proxima.otf') format('opentype');

  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
  font-family: 'Montserrat', sans-serif;
  margin:  0;
    padding:  0;

}
#root{
  margin:  0 !important;
    padding:  0 !important;
}
.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;

}
.proxima {
  font-family: "Proxima", sans-serif;
  font-optical-sizing: auto;

}
.moreSugar {
  font-family: "moreSugar", sans-serif;
  font-optical-sizing: auto;

}
.boxshadow{
  box-shadow: 3.998px 6.997px 10.995px 0 rgba(0, 0, 0, 0.25);
}
.MadeGentle {
  font-family: 'MADE_Gentle', 'sans-serif' !important;
}
button {
  @apply hover:opacity-90 duration-200 active:opacity-80;
}
#paddingTop {
  @apply duration-200;
}
/* Burger */
header {
  display: flex;
  justify-content: flex-end;
}

/* Гамбургер иконка */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.daily-item {
  transition: opacity 0.35s ease, transform 0.35s ease;
  opacity: 0.2;
}

.daily-item-active {
  opacity: 1 !important;

}
.menu-btn .bar {
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
  top: calc(50% - 6px);
}
.menu-btn .bar:nth-of-type(3) {
  top: calc(50% + 6px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active .bar:nth-of-type(1) {
  display: none;
}
.menu-btn.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  /* background: #ffefba; */
  transform: translateX(100%);
  transition: transform 0.5s;
}

.nav.active {
  transform: translateX(0);
}

.nav .nav__list_item {
  list-style-type: none;
}

p,
button {
  opacity: 0;
  transition: 0.2s;
}
.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Adjust the duration and easing as needed */
}
@media (min-width: 1700px) {
  .footerFlex {
    flex-direction: row;
  }
}
.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust the duration and easing as needed */
}

.nav-el:hover .nav-cheveron {
  @apply rotate-180;
}
.nav-el:hover .nav-el-menu {
  @apply block;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}




.dropdown-link {
  background-color: transparent;
  color: white;
}

.dropdown-link p,
.dropdown-link div {
  color: white;
  transition: color 0.2s ease;
}

.dropdown-link:hover {
  background-color: #F8EA2B;
}

.dropdown-link:hover p,
.dropdown-link:hover div {
  color: #004AAD;
}
